version: "3"

services:
  bitcoind:
    container_name: bitcoind
    restart: always
    image: btcpayserver/bitcoin:24.0.1-1
    ports:
      - 18443:18443
      - 18444:18444
      - 18445:18445
      - 8332:8332
    environment:
      BITCOIN_NETWORK: regtest
      BITCOIN_EXTRA_ARGS: |
        server=1
        debug=1
        rpcbind=bitcoind
        rpcport=18443
        rpcauth=foo:7d9ba5ae63c3d4dc30583ff4fe65a67e$$9e3634e81c11659e3de036d0bf88f89cd169c1039e6e09607562d54765c649cc
        rpcallowip=0.0.0.0/0
        zmqpubrawblock=tcp://0.0.0.0:28334
        zmqpubrawtx=tcp://0.0.0.0:28335
        zmqpubhashblock=tcp://0.0.0.0:28336

  lightning:
    container_name: lightning
    restart: always
    image: elementsproject/lightningd:latest
    expose:
      - 9735
      - 11001
    environment:
      LIGHTNINGD_CHAIN: btc
      LIGHTNINGD_NETWORK: regtest
      LIGHTNINGD_RPC_PORT: 18443
    
    command:
        - --network=regtest
        - --bitcoin-rpcuser=foo
        - --bitcoin-rpcpassword=qDDZdeQ5vw9XXFeVnXT4PZ--tGN2xNjjR4nrtyszZx0=
        - --bitcoin-rpcport=18443
        - --log-level=debug
        - --bitcoin-rpcconnect=bitcoind
        - --grpc-port=11001

  #   lightningd
  # --alias={{name}}
  # --addr={{name}}
  # --network=regtest
  # --bitcoin-rpcuser={{rpcUser}}
  # --bitcoin-rpcpassword={{rpcPass}}
  # --bitcoin-rpcconnect={{backendName}}
  # --bitcoin-rpcport=18443
  # --log-level=debug
  # --dev-bitcoind-poll=2
  # --dev-fast-gossip
  # --grpc-port=11001
  # --plugin=/opt/c-lightning-rest/plugin.js
  # --rest-port=8080
  # --rest-protocol=http